<!DOCTYPE html>
<html>
<head>
   <title>Blog-Rater</title>
   <%= csrf_meta_tags %>
   <link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css” integrity=“sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=“anonymous”>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>
  <!-- <head>
    <title>BlogRater</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <#%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <#%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> -->

  <body>
    <header>
      <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
              <h4 class="text-white">Collapsed content</h4>
              <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
          </div>
        </nav>
      </div>

  		<div class="content-wrapper">
  				<div class="main_logo">
            <%= image_tag("Blog-Rater.png", size: "250x150", alt: "Blog Rater Logo") %>
  					</div>
  				<div class="tag_line">
  						<h4>Find, Read, and Rate Your Favourite Blogs</h4>
  				</div>

          <%= form_for(User.new, url: user_session_path) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-dark btn-sm" %>
            </div>
          <% end %>
  			</div>
  </header>
  <br>
<br>
<br>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
<% unless current_user.present? %>
	<section>
		<fieldset>
		<div class="join_box">
			<div class="join_heading"
				<h2> Register for a Free Account to Become a Contributor or Rate Your Favourite Blog Posts</p>
			</div>
			<%= link_to 'Join Now', new_user_registration_path, class: 'button' %>
		</div>
	</fieldset>
	</section>
<% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
		<a href="#">About Us </a>
		<a href="#">Guideline </a>
		<a href="#">FAQ </a>
		<a href="#">Privacy Policy</a>
	</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
